---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>The Bid Desk Blog</title>
  <link>https://thebiddesk.ca/blog/</link>
  <atom:link href="https://thebiddesk.ca/blog/feed.xml" rel="self" type="application/rss+xml"/>
  <description>RFPs, government tenders and bid strategy for Canadian and US contractors.</description>
  <language>en-ca</language>
{%- for post in collections.posts %}
  <item>
    <title>{{ post.data.title | escape }}</title>
    <link>https://thebiddesk.ca{{ post.url }}</link>
    <guid>https://thebiddesk.ca{{ post.url }}</guid>
    <pubDate>{{ post.date | rfcDate }}</pubDate>
    <description>{{ post.data.excerpt | escape }}</description>
  </item>
{%- endfor %}
</channel>
</rss>
